<a href="https://noahsarc.org" class="text-blue-500 no-underline hover-underline">Noahs' Arc</a> &bull;
<a href="https://noahsarc.org/contact" class="text-blue-500 no-underline hover-underline">Contact Us</a>
