--- title: Welcome to Noah's Arc bodyClass: bg-gray-200 h-full htmlClass: bg-gray-200 h-full ---

{% block template %}

  <table class="wrapper w-full h-full all-font-sans">
    <tr>
      <td align="center" class="bg-white align-middle py-24">
        <table>
          <tr>
            <td align="center">
              <table>
                <tr>
                  <td class="bg-gray-100 p-48 rounded-t-lg">
                    <p class="text-2xl font-semibold m-0">Welcome to Noah's Arc</p>
                    <p class="text-gray-700 text-base">Thank you for joining Noah's Arc Child Sponsorship Program</p>
                    <p class="text-lg font-semibold my-20">Your Sponsorship Summary</p>
                    <table class="mt-20">
                      <tr>
                        <td>
                          <img class="rounded-full w-96" src="{{page.emailInput.childImage}}">
                        </td>
                        <td class="px-10 align-top">
                          <p class="text-lg font-semibold my-0 text-gray-800 my-8">
                            {{page.emailInput.childName}}</p>
                          <p class="text-base font-semibold my-0 my-8">
                            <span class="text-gray-800 inline-block w-128 text-right">Amount:</span>
                            <span class="text-gray-600">${{page.emailInput.amount | float}}/month ({{page.emailInput.summary}})</span>
                          </p>
                          <p class="text-base font-semibold my-0 my-8">
                            <span class="text-gray-800 inline-block w-128 text-right">Recurring:</span>
                            <span class="text-gray-600">Monthly on the
                              {{page.emailInput.recurringPaymentDate}}</span>
                          </p>
                          <p class="text-base font-semibold my-0 my-8">
                            <span class="text-gray-800 inline-block w-128 text-right">First Payment:</span>
                            <span class="text-gray-600">{{page.emailInput.firstPaymentDate}}</span>
                          </p>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="bg-gray-100 px-48 py-20 rounded-b-lg">
                    <p>If you have any questions or would like to make modifications to your sponsorship, don't hesitate to contact us.</p>
                    <table align="center">
                      <tr>
                        <td align="center" class="bg-blue-500 hover-bg-blue-600 text-white rounded" style="mso-padding-alt: 8px 24px 16px;">
                          <a href="https://noahsarc.org/contact" target="_blank" class="text-white inline-block text-sm font-semibold py-16 px-24 no-underline">Contact Us</a>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td class="text-center text-gray-600 text-xs p-32">
                    <p class="cursor-default">
                      <a href="https://noahsarc.org" class="text-blue-500 no-underline hover-underline">Noahs' Arc</a>
                      &bull;
                      <a href="https://noahsarc.org/contact" class="text-blue-500 no-underline hover-underline">Contact Us</a>

                    </p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

{% endblock %}